body, html {
  background-color: antiquewhite;
}

.App {
  max-width: 70rem;
  margin: 10rem auto;
}

.CharacterList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(247, 216, 175);
  border: 3px solid rgb(109, 184, 130);
  border-radius: 4px;
  margin: 10px 10px;
}

h2 {
  text-align: center;
}